button {
    border: none;
    border-radius: 23px;
    position: relative;
    font-size: 21px;
}
button:active {
    transform: scale(0.95);
}

button::after {
    position: absolute;
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    top: 7px;
    right: 7px;
}

.white {
    background: #D0D3E2;
    box-shadow: 4px 4px 4px 0px #DDE1EC inset, 3px 3px 10px 0px rgba(57, 62, 81, 0.24);
}

.white::after {
    background: linear-gradient(134deg, #CED2DE 0%, #ECEFF4 100%);
    filter: blur(1px);
    border-radius: 18px;
} 

.gray{
    background: #b6b6cc;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.15), inset 4px 4px 4px #C1C9D4;
}

.gray::after {
    background: linear-gradient(134.24deg, #A0ADC4 15.47%, #C5CEDF 94.71%);
    filter: blur(1px);
    border-radius: 18px;
}

.orange {
    background: #f1871c;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.15), inset 4px 4px 4px #D07419;
    color: white;
}

.orange::after {
    background: linear-gradient(134.24deg, #793a0e 15.47%, #DF8419 94.71%);
    filter: blur(1px);
    border-radius: 18px;
}
