:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  justify-content: center;
  padding: 20px;
}

.calculator__Body {
  width: 375px;
  height: 100vh;
  padding: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 3fr max-content max-content;
  justify-content: end;
  align-items: end;
  background: #DFE2EB;
  font-size: 21px;
  border-radius: 10px;
}

.btns__white {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 77px);
  gap: 10px;
}


.btns__gray {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 77px;
  gap: 10px;
}

.btns__orange {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 77px);
  gap: 10px;
}

button {
  border: none;
  border-radius: 23px;
  position: relative;
  font-size: 21px;
}

button:active {
  transform: scale(0.95);
}

.grey_btn {
  background: #B0B9CA;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.15), inset 4px 4px 4px #C1C9D4;
}

.grey_btn::after {
  background: linear-gradient(134.24deg, #A0ADC4 15.47%, #C5CEDF 94.71%);
  filter: blur(1px);
  border-radius: 18px;
}

.orange_btn {
  background: #D07419;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.15), inset 4px 4px 4px #D07419;
  color: white;
}
span {
  font-size: 40px;
  font-weight: 100;
}

.orange_btn::after {
  background: linear-gradient(134.24deg, #C15D17 15.47%, #DF8419 94.71%);
  filter: blur(1px);
  border-radius: 18px;
}

.white__btn {
  background: #D0D3E2;
  box-shadow: 4px 4px 4px 0px #DDE1EC inset, 3px 3px 10px 0px rgba(57, 62, 81, 0.24);
}

.white__btn::after {
  background: linear-gradient(134deg, #CED2DE 0%, #ECEFF4 100%);
  filter: blur(1px);
  border-radius: 18px;
} 

.white__btn:last-child {
  grid-column: span 3;
}