.monitor {
    display: grid;
    color: #8695AE;
    font-size: 28px;
}
.monitor p:last-child {
    color: #1D2028;
    font-size: 56px;
}
.monitor p::before {
    content: '=';
    position: relative;
    right: 10px;
}